@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  font-family: "Open Sans", sans-serif;
}

.circle{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.circle h2{
  padding-left: 10px;
}